body{
    max-width: 100%;
    font-family: 'Nunito Sans', sans-serif;
}
p{
    font-size: 1.15rem;
}
.work{
    font-family: 'Work Sans', sans-serif;
    letter-spacing: 1px;
    font-weight: 600;
}
.drk{
    font-weight: 800;

}
.akm{
    padding: 0px 80px;
}
#header{
    background-color: #ffd700;
    color: black;
  
}
nav{
    background-color: #ffd700;
}
.container-fluid{
    padding-left: 0;
    padding-right: 0;
}
.abc_50{
    max-width: 100%;
    padding-left: 62px;
    padding-top: 50px;
    padding-bottom: 50px;
    font-size: 50px;
}
.sixty-two{

    padding-left: 62px;
}
.fifty{
    padding-left: 50px;
}
.eighty-two{
    padding-left: 82px;
}
.disappear{
    display: initial;
}
.fifty-up{
   padding-top: 80px;
}
#feature{
    margin-left: auto;
    margin-right: auto;
    padding: 30px 0px;
}
/* .my_div{
 
} */
.my_bg{
    background-image: linear-gradient(to top, #ffffff, #fbfbfd, #f8f8fa, #f3f4f8, #eff1f6);
}
.text{
    text-align: center;
}

.row{
    max-width: 100%;
}
img{
    max-width: 100%;
    background-color: #fff;
}
.half{
    width: 50%;
}
#checkout{
    max-width: 100%;
    background-color: #13191E;
    padding: 30px 0px;
}
.my_input{
    margin-right: auto;
    margin-left: auto;
    padding: 10px 0px;
   
}
.my_form{
    display: block;
    width: 100%;
    padding: .375rem .75rem;
    font-size: 1rem;
    font-weight: 400;
    line-height: 1.5;
    color: #fff;
    background-color: transparent;
    background-clip: padding-box;
    border: 1px solid #dad3ce;
    box-shadow: 0 0 1px #5d361c;
    /* -webkit-appearance: none; */
    -webkit-transition: 0.5s;
  transition: 0.5s;
  outline: none;
    border-radius: .35rem;
    
}
input:focus{
    box-shadow: 0 0 5px #5d361c;
}
.active{
    border: 1px solid #5d361c;
}
#footer{
    background-color: #13191E;
    text-align: center;
    padding: 30px 0px;
}
.my_foot{
    text-decoration: none;
    color: #B9A99E;
    padding: 10px;
}
.my_foot:hover{
    color: #d4966c;
}
.ktm{
    background-image: linear-gradient(to right top, #045762, #00696f, #007b7b, #008d83, #1f9f89);
    padding: 50px;
    
    color: #fff;
    -webkit-border-radius: 50px;
  -moz-border-radius: 50px;
  border-radius: 30px;
  border: none;
}
.ktmm{
    text-align: center;
}
.ktmmm{
    text-align: right;
}
.cmt{
    margin: 5px;
    background: transparent;
    width: 20px;
    
}
.btm {
    border: none;
    -webkit-border-radius: 16;
    -moz-border-radius: 16;
    border-radius: 16px;
    font-family: 'Work Sans', sans-serif;
    color: #ffffff;
    font-weight: 500;
    background: #080808;
    padding: 13px 35px 13px 35px;
    text-decoration: none;
  }
  
  .btm:hover {
    background: #000000;
    background-image: -webkit-linear-gradient(top, #000000, #18191a);
    background-image: -moz-linear-gradient(top, #000000, #18191a);
    background-image: -ms-linear-gradient(top, #000000, #18191a);
    background-image: -o-linear-gradient(top, #000000, #18191a);
    background-image: linear-gradient(to bottom, #000000, #18191a);
    text-decoration: none;
  }
  .mobile-appears{
      display: none;
  }
  .addear{
      display: initial;
  }
@media screen and (max-width: 992px) {
    .fifty{
        padding-left: 0px;
    }
    .fifty-up{
        padding-top: 40px;
    }
    .disappear{
        display: none;
    }
    .eighty-two{
        padding-left: 20px;
    }
    .abc_50{
        padding-left: 0px;
    }
    .sixty-two{
        padding-left: 0px;
    }
    .akm{
        padding: 0px 40px;
    }
   
  }
  @media screen and (max-width: 722px){
      .akm{
          padding: 0 20px;
      }
  }
  @media screen and (max-width: 576px)
  {
      
      .mobile-appears{
        display: initial;
    }
      .addear{
          display: none;
      }
  }